.Burger {
    text-align: center;
    align-items: center;
    margin: auto;
    height: 320px;
    width: 40%;
    padding-bottom: 10%;
    overflow: auto;
}

@media(max-width: 499px) {
    .Burger {
        padding-bottom: 0;
    }
}


