.BuildControl {
    width: 50%;
    background-color: #7aa8d6;
    height: 50px;
    margin: auto;
    text-align: center;
}

.BuildControl div {
    color: white;
    font-weight: bold;
}

.BuildControl button {
    font-weight: bold;
    background-color: rgb(230, 201, 36);
    border: 1px solid rgb(145, 123, 0);
    cursor: pointer;
    margin: 0 4px;
}